.hero-text {
    color: white;
    text-align: center;
    padding: 0 20px;
}
  
@media screen and (max-width: 600px) {
    .hero-text h2 {
        font-size: 1rem; /* Adjust the size as needed */
    }

    .hero-text h1,
    .hero-text .type-animation {
        font-size: 1.5rem; /* Adjust the size as needed */
    }
}
  
.type-animation {
    font-size: 2em;
}

.pill-word {
    display: inline-block; /* Keep it inline with text */
    background-color: transparent; /* No background initially */
    color: white; /* Text color inside the pill */
    border-radius: 15px; /* Rounded corners */
    padding: 5px 10px; /* Padding around the text */
    transition: background-color 0.5s linear; /* Transition effect */
}
  
.pill-word.active {
    background-color: #0000ff; /* Pill color when active */
}